.navbar.custom {
    width: 100%;  
    margin: 0 auto;
    height: 100px;
  }

  div.teste{

    margin-top: 20px;

  }

  div.card{
    margin-top: 50px;
  }

img.teste{
  height: 500px;
  width: 500px;
  margin-left: 400px;
}